.navbar{
    display: flex;    
    align-items: center;
    justify-content: space-between;    
    background-color: $color-white;
    padding: 10px;
    a{
        text-decoration: none;       
        color: $text-color;
        font-family: "Poppins-Medium";
        width: 120px;
    }

    &__links{
        display: flex;
        text-align: center;      
        
    }

    &__profile{
        display: flex;
        &-img{
            width: 50px;
            height: 50px;
            margin-left: 50px;
        }
    }

    .selected{
        color: $color-black;       
    }
}